@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}
.section-title {
    text-align: center;
}

.section-title h4 {
    color: #ebcd1e;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
}

.section-title h4 span {
    color: #333333;
}

.section-title p {
    color: #666666;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 85px; 
}
.ml-30{
    margin-left: 30px;
}
.mr-15{
    margin-right: 15px;
}
.header-area {
    height: 80px;
}
.logo-area {
    margin-top: 20px;
}
.menu-area {
    float: right;
}
.menu-area ul li {
    list-style: none;
    display: inline-block;
    padding: 30px 0;
    position: relative;
    transition: .3s;
}
.menu-area ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #444444;
    margin-right: 40px;
    transition: .3s;
}
.menu-area ul li:hover > a {
    color: #ebcd1e;
}
.menu-area ul li ul.dropdown-menu {
    position: absolute;
    top: 100%;
    border-top: 3px solid #ebcd1e;
    width: 225px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    background: #fff;
    z-index: 9;
}
.menu-area ul li:hover ul.dropdown-menu {
    opacity: 1;
    visibility: visible;
}
.menu-area ul li ul.dropdown-menu li {
    display: block;
    padding: 0;
    padding: 20px 20px;
    border-bottom: 1px solid #e6e6e6;
    transition: .3s;
}
.menu-area ul li ul.dropdown-menu li:hover {
    background: #ebcd1e;
}
.menu-area ul li ul.dropdown-menu li:hover a{
    color: #444444;
}
.header-right {
    float: right;
    display: flex;
    margin-top: 30px;
}

.header-right .search-icon {
    margin-left: 30px;
    font-size: 18px;
    color: #444444;
    cursor: pointer;
}
.header-right .search-icon a{
    color: #444444;
    text-decoration: none;
}
.form {
    position: relative;
}
.header-right .search-icon form input {
    position: absolute;
    right: 0;
    background: #fff !important;
    border: 1px solid #e6e6e6;
    border-radius: 30px;
    width: 500px;
    z-index: 9;
    color: #999999;
    padding: 10px 25px;
    top: 23px;
}
.form__input--show {
    display: block;
}

.form__input--hidden {
    display: none;
}

.header-right .cart-icon {
    margin-left: 30px;
    font-size: 18px;
    color: #444444;
    cursor: pointer;
    position: relative;
}

.cart-icon .cart-init {
    position: absolute;
    right: 0;
    border-top: 3px solid #ebcd1e;
    top: 190%;
    opacity: 0;
    visibility: hidden;
    transition: 3s;
    z-index: 9;
    background: #fff;
}
.cart-icon:hover .cart-init {
    opacity: 1;
    visibility: visible;
}
.cart-icon .cart-icon-content span {
    font-size: 11px;
    color: #333333;
    background: #ebcd1e;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: center;
    display: block;
    position: absolute;
    left: 65%;
    bottom: -5px;
}

.cart-icon .cart-init .cart-content .cart-img {
    width: 50px;
    height: 50px;
    position: relative;
    float: left;
    padding: 15px;
}
.cart-icon .cart-init .cart-content .cart-img img {
    width: 100%;
    border: 1px solid #e6e6e6;
}

.cart-content .cart-img span {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 16px;
    height: 16px;
    background: #e6e6e6;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
}

.cart-init .cart-content {
    width: 240px;
    border-bottom: 1px solid #e6e6e6;
}

.cart-content .cart-text p {
    font-size: 13px;
    color: #666666;
    padding-top: 18px;
    line-height: 20px;
}

.cart-content .cart-text span {
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
    line-height: 20px;
    padding-bottom: 20px;
    display: inline-block;
}
.cart-price {
    font-size: 13px;
    text-align: center;
    padding: 20px 0;
    color: #333333;
}
.cart-btn {
    text-align: center;
}
.cart-btn .mycart {
    padding: 5px 15px;
    border: 1px solid #999999;
    border-radius: 30px;
    text-align: center;
    float: left;
    line-height: 20px;
    transition: .3s;
}
.cart-btn .mycart:hover {
    border: none;
    background: #ebcd1e;
}

.cart-btn .mycart a {
    font-size: 11px;
    color: #999999;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
}
.cart-btn .mycart:hover a {
    color: #fff;
}
.header-right .canvas-menu {
    margin-left: 30px;
    font-size: 18px;
    color: #444444;
    cursor: pointer;
}
/* Slider Area Start */
.single-slider {
    position: relative;
}

.single-slider .slider-content {
    text-align: center;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.single-slider .slider-content h4 {
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: -15px;
}

.single-slider .slider-content h3 {
    font-size: 72px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.single-slider .slider-content a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 20px 40px;
    background: #ebcd1e;
    border-radius: 30px;
    display: inline-block;
    font-size: 13px;
}
.slider-area .owl-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.slider-area .owl-dots button {
    width: 10px;
    height: 10px;
    border: 2px solid #f1f1f1;
    background-color: transparent;
    border-radius: 50%;
    margin-right: 10px;
}
.slider-area .owl-dots button.active {
    background-color: #ebcd1e;
    border: none;
}
/* Slider Area End */
/* Service Area Start */
.service-area .container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.service-content {
    border: 1px solid #7f7f7f;
    border-right: none;
    min-height: 385px;
    position: relative;
}
.service-inner h4 {
    font-size: 24px;
    line-height: 30px;
    color: #f9f9f9;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
}

.service-inner h4 span {
    color: #ebcd1e;
}

.service-inner p {
    font-size: 13px;
    line-height: 22px;
    color: #d1d1d1;
}

.service-inner a {
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    color: #e2e2e2;
    font-size: 13px;
    padding: 20px 50px;
    display: inline-block;
    border: 1px solid #f9f9f9;
    border-radius: 30px;
    text-transform: uppercase;
}
.service-item {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 78%;
}
.service-item h4 {
    color: #ebcd1e;
    padding-top: 30px;
}
.service-intro{
    text-align: left;
}
.service-intro h4{
    color: #f9f9f9;
}
/* Service Area End */
/* About Process Area Start */
.our-process-area{
    background: #f8f8f8;
}
.our-process-item {
    background: #333333;
    padding: 45px 30px;
}

.our-process-item i {
    color: #ebcd1e;
    font-size: 30px;
}

.our-process-item h4 {
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    margin-left: 20px;
}

.our-process-item p {
    font-size: 13px;
    color: #ffffff;
    line-height: 22px;
    margin-top: 15px;
    width: 90%;
}
.our-process-wrapper {
    position: relative;
    margin-top: 25px;
}
.item-border-b:after {
    position: absolute;
    width: 300px;
    height: 30px;
    border: 2px dashed #bbbbbb;
    content: '';
    border-top: none;
    left: 50%;
    bottom: -32px;
}

.item-border-t:before {
    position: absolute;
    width: 300px;
    height: 30px;
    border: 2px dashed #bbbbbb;
    content: '';
    left: 50%;
    border-bottom: none;
    top: -32px;
}
/* About Process Area End */
/* Project Area Start */
.project-area {
    overflow: hidden;
}
.project-wrapper {
    position: relative;
}
.project-wrapper:hover .project-img::before {
    opacity: 0.8;
}
.project-wrapper:hover .overly{
    opacity: 1;
    visibility: visible;
}
.project-img {
    position: relative;
    margin: 2px;
}
.project-img img {
    width: 100%;
}
.project-img::before {
    position: absolute;
    content: '';
    background: #555555;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.3s;
}
.overly {
    position: absolute;
    width: 90%;
    height: 85%;
    border: 2px dashed #ebcd1e;
    top: 15px;
    left: 17px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.project-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.project-text h4 {
    font-size: 24px;
    text-transform: uppercase;
    color: #ebcd1e;
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.project-wrapper:hover .project-text h4{
    opacity: 1;
    visibility: visible;
}
.project-text p {
    font-size: 11px;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    color: #d5d5d5;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.project-wrapper:hover .project-text p {
    opacity: 1;
    visibility: visible;
}
/* Project Area End */
/* Blog Area Start */
.blog-wrapper {
    position: relative;
}
.blog-img {
    margin-right: 25px;
}
.blog-img img{
    width:100%;
}
.blog-init span {
    font-size: 18px;
    font-weight: 700;
    display: block;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
}

.blog-init {
    border: 1px solid #969696;
    background: #333333;
    padding: 10px 0;
}
.blog-date {
    position: absolute;
    background: #333333;
    padding: 5px;
}

.date {
    width: 80px;
    height: 80px;
    top: 20px;
    right: 40px;
}
.blog-content h4 {
    font-size: 18px;
    color: #333333;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 22px;
    padding-top: 10px;
}

.blog-content span {
    color: #999999;
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
    line-height: 22px;
    padding-bottom: 5px;
    display: block;
    padding-top: 5px;
}

.blog-content p {
    font-size: 13px;
    color: #666666;
    line-height: 22px;
}
.blog-item {
    margin-bottom: 65px;
}
.blog-right-img {
    position: relative;
}
.blog-right-img img {
    width: 100%;
}
.blog-right-date {
    position: absolute;
    padding: 5px;
    background: #333333;
}
.right-date {
    width: 47px;
    height: 47px;
    top: 15px;
    right: 15px;
}
.blog-date-init {
    border: 1px solid #858585;
    padding: 3px 0;
}
.blog-date-init span {
    display: block;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.blog-right-content h4 {
    font-size: 18px;
    color: #333333;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 22px;
}

.blog-right-content span {
    color: #999999;
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
    line-height: 22px;
    padding-bottom: 5px;
    display: block;
    padding-top: 5px;
}

.blog-right-content p {
    font-size: 13px;
    color: #666666;
    line-height: 22px;
}
.blog-btn {
    text-align: center;
}

.blog-btn a {
    background: #ebcd1e;
    border: none;
    color: #fff;
    transition: 0.3s;
}

.blog-btn a:hover {
    background: #333333;
}

/* Blog Area End */
/* Client Area Start */
.single-client{
    display: flex;
}

.client-img img {
    width: 100%;
    height: 100%;
}

.client-content {
    background: #333333;
    padding: 25px;
    position: relative;
}
.client-content:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 10px 12.5px 0;
    border-color: transparent #333333 transparent transparent;
    position: absolute;
    content: '';
    left: -10px;
    top: 45%;
}
.client-content p {
    color: #d1d1d1;
    font-size: 13px;
    line-height: 22px;
    position: relative;
}
.client-content p span {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    position: relative;
    top: 21px;
    line-height: 0;
    color: #ebcd1e;
}
.client-content .author {
    font-size: 13px;
    color: #ebcd1e;
    font-weight: 600;
    display: block;
    margin-top: 15px;
}

.client-content .client-tag {
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}

/* Client Area End */
/* Brand Area Start */
.brand-area {
    background: #ebcd1e;
}
/* Brand Area End */
/* Footer Area Start */
.footer-top {
    text-align: center;
    background: #333333;
}

.footer-widgets-one {
    padding-top: 45px;
}

.footer-widgets-two {
    padding-top: 45px;
}

.footer-widgets-two form input {
    border: none;
    color: #d6d6d6;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 13px;
    width: 230px;
}

.footer-widgets-two form {
    position: relative;
}

.footer-widgets-two form button {
    position: absolute;
    font-size: 13px;
    background: #ebcd1e;
    border: none;
    padding: 15px 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    right: 42%;
    margin-right: 9px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
}

.footer-widgets-three {
    padding-top: 45px;
}

.footer-menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #c2c2c2;
    font-size: 13px;
}

.footer-widgets-four {
    padding-top: 25px;
    padding-bottom: 45px;
}

.footer-social-link a {
    text-decoration: none;
    font-size: 13px;
    color: #dedede;
    width: 30px;
    border-radius: 50%;
    background: #484848;
    height: 30px;
    position: relative;
    display: inline-block;
    line-height: 30px;
    margin-right: 5px;
    transition: 0.6s;
}

.footer-social-link a:hover {
    background: #ebcd1e;
    color: #333333;
}

.footer-widgets-two form button:hover {
    background: #333333;
}
.footer-copyright {
    text-align: center;
    background: #121212;
    padding: 15px 0;
}

.footer-copyright p {
    font-size: 11px;
    color: #626262;
}

.footer-copyright p a {
    text-decoration: none;
    color: #ebcd1e;
}
/* Footer Area End */